<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4">
        SOBRE NÓS!
      </h1>
      <p class="lead text-center">
        Somos uma empresa dedicada a auxiliar todo tipo de pessoa
        a realizar seus sonhos!
        Nos preocupamos em ajudar quem precisa de um pouquinho mais
        de organização, esta é nossa função!
        Aproveite todos os nossos recursos para oragnizar sua vida financeira em um só lugar!!!
      </p>
      <p class="text-center">
        Com esse sistema você pode:
      </p>
      <ul class="list-group">
      <li class="list-group-item">Adicionar novas pendências</li>
      <li class="list-group-item">Visualizar pendências existentes</li>
      <li class="list-group-item">Atualizar contas (à pagar, conluídas, etc...)</li>
      <li class="list-group-item">Excluir contas que já foram pagas ou não são mais
        necessárias
      </li>
    </ul>
      <p class="text-center mt-4">
        Comece agora mesmo a organizar sua vida financeira de forma eficiente!!!
      </p>
    </div>
  </div>
</div>
